html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content {
    padding-bottom: 60px;
}

.simple-footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}